<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% endblock %}
        <script>
            $(document).ready(function() {
                $("#settingsL").click(function() {
                    $("#settings").slideToggle();
                });
            });
        </script>
    </head>
    <body>
        <header>
            {% if g.user %}
                Hello, {{ g.user.nickname }}. You can <a href="/logout" id="logout">logout</a> or setup <a id="settingsL">settings</a>
            {% else %}
                <div id="login">
                    <a href="/login">
                        <img stlyle="height: 50px;" src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"/>
                    </a>
                </div>
            {% endif %}
            <div id="settings">
                <hr>
                <form action="/setup/" method=POST>
                    <p><input type=checkbox name=OneBootsMin {% if g.user.OneBootsMin %} checked {% endif %}/> One boots min</p>
                    <p><input type=checkbox name=OneBootsMax {% if g.user.OneBootsMax %} checked {% endif %}/> One boots max</p>
                    <p><input type=checkbox name=OneOrbMax {% if g.user.OneOrbMax %} checked {% endif %}/> One orb max (not working right now)</p>
                    <p><input type=checkbox name=NoDublicateItems {% if g.user.NoDublicateItems %} checked {% endif %}/>No dublicate items</p>
                    <p><input type=checkbox name=AghanimsScepterForAll {% if g.user.AghanimsScepterForAll %} checked {% endif %}/>Aghanim's scepter for all heroes (not working right now)</p>
                    {% block next_settings %}
                    {% endblock %}
                    <p><input type="submit" value="update"/></p>
                </form>
            </div>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>       