{% extends "base.html" %}

{% block head %}
    <title>Woohoo!</title>
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'/> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/heroes.js"></script>
{% endblock %}

{% block next_settings %}
    <input type=hidden value=/ name=next>
{% endblock %}

{% block body %}
    <h1> Pick the hero and get a surprising build! </h1>
    <input id="search" type="text" placeholder="Type hero name here or select it below"/>
    <a><img id='heroHover'/></a>
    <div id="heroes">
        {% for item in heroes %}
            {% set t = "'http://cdn.dota2.com/apps/dota2/images/heroes/" ~ item ~ "_sb.png'" %}
            <img id={{ item }} class="hero" src={{ t|safe }}/>
        {% endfor %}
    </div>
    or you can get a <a style="color:#FFFFFF;" href="/random/">random</a> hero.
{% endblock %}