{% extends "base.html" %}

{% block head %}
    <title> Surprise! </title>
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'/> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/hero.js"></script>
{% endblock %}

{% block next_settings %}
    <input type=hidden value=/{{ heroid }}/{{ itemsid }}/ name=next>
{% endblock %}

{% block body %}
    <h1> You got: </h1>
    {% set t = "'http://cdn.dota2.com/apps/dota2/images/heroes/" ~ heroid ~ "_full.png'" %}
    <img id={{ heroid }} src={{ t|safe }}/>
    {% if not g.user %}
        <p> You can login through Steam to get flexible settings.</p>
    {% endif %}
    <div id="items">
        {% for item in items %}
            {% set t = '"http://cdn.dota2.com/apps/dota2/images/items/' ~ item ~ '_lg.png"'%}
            <img src= {{ t|safe }}/>
        {% endfor %}
    </div>
    <a class="heroMenu" id="back" href=/>↵</a>
    <a class="heroMenu" id="repeat" href=/{{ heroid }}/>↺</a>
    <div id="share">share</div>
    <input type="text" id="sharelink" value={{ get_url() }}/{{ heroid }}/{{ itemsid }}/>
{% endblock %}