body {
    background-color: #333333;
    color: #CCCCCC;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

header {
    width: 100%;
    background-color: #CCCCCC;
    color: #454545;
}

#search, #search:hover {
    margin: 10px;
    height: 50px;
    width: 800px;
    font-size: 20pt;
    text-align: center;
    border-style: none;
    color: #BCBCBC;
    border: 2px solid #BCBCBC;
    outline: 0;
    background-color: transparent;
}

#share {
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 10px;
    margin-top: -120px;
    height: 30px;
    width: 80px;
    text-align: center;
    border-style: none;
    color: #BCBCBC;
    border: 2px solid #BCBCBC;
    outline: 0;
    background-color: #454545;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor:pointer;
}

#share:hover {
    background-color: #878787;
    color: #FDFDFD;
    -moz-box-shadow: 0 0 5px #999999;
    -webkit-box-shadow: 0 0 5px#999999;
}

#sharelink {
    margin: 0 auto;
    outline: 0;
    font-size: 13pt;
    color: #BCBCBC;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    border: 2px solid #BCBCBC;
    position: relative;
    top: -40px;
    height: 30px;
    width: 500px;
    background-color: #454545;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: none;
}

#heroes {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 900px;
}

#heroes img {
    margin: 2px;
    padding: 2px;
}

#heroHover {
    position: absolute;
    border: solid 2px #BCBCBC;
    display: none;
}

#items {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 200px;
}

#items img {
    min-width: 50px;
    min-height: 50px;
    margin: 5px;
    background-color: #000000;
}

a.heroMenu {
    height: 0px;
    width: 0px;
    margin: 0 auto;
    color: #454545;
    position: relative;
    font-size: 78pt;
    text-decoration: none;
}

a.heroMenu:hover {
    color: #878787;
}

#back {
    top: -220px;
    left: -100px;
}

#repeat {
    top: -220px;
    left: 100px;
}

form.sign input[type=text], form.sign input[type=password] {
    color: #FDFDFD;
    margin: 10px;
    text-align: center;
    border-style: none;
    outline: 0;
    border: 2px solid #454545;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #878787;
}

form.sign input[type="submit"] {
    color: #454545;
    border: 2px solid #454545;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #BCBCBC;
}

#login {
    padding-top: 8px;
}

#logout {
    color: #000000;
}

#settingsL {
    color: #000000;
    text-decoration: underline;
    cursor:pointer;
}

#settings {
    display: none;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    /*background-color: #CCCCCC;*/
}